:root {
  --black: #181a1b;
  --gray-900: #23272f;
  --gray-700: #3e434c;
  --gray-500: #767c87;
  --gray-400: #b0b4bb;
  --white: #f5f5f5;
  --surface: #ffffff;

  --accent: #4ade80;
  --box-shadow: 0 2px 8px 0 rgba(34, 34, 34, 0.07);

  --danger: #e53e3e;
  --success: #38a169;
  --info: #3182ce;
  --warning: #d69e2e;
}
